# Eclipse project files & folders
/.project
/.pydevproject

# VS/VSCODE project files & folders
.vs/
.vscode/

# Output build
build/
Makefile
man/*.gz
*.exe
share/

# Distribution files
bin2header-*.tar.xz
